:root {
    /* Colors */
    --charcoal: #364652;
    --orangeRedCrayola: #fE5f55;
    --cornflowerBlue: #5C95FF;
    --alabaster: #E8EBE4;
    --sunglow: #FFCA3A;

    /* Fonts */
    --octinCollege: 'octin-college', sans-serif;
    --neuzeitGrotesk: 'neuzeit-grotesk', sans-serif;
}
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.hero {
    width: 100%;
    height: 80vh;
    background: linear-gradient(150deg, var(--orangeRedCrayola), var(--sunglow), var(--orangeRedCrayola));
    /* background-color: var(--cornflowerBlue); */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.hero h1 {
    font-family: var(--octinCollege);
    font-size: 3.5rem;
    font-weight: 900;
    color: var(--charcoal);
}
.hero p {
    font-family: var(--neuzeitGrotesk);
    font-size: 2rem;
    font-weight: 300;
    color: var(--charcoal);
}
.about p {
    font-family: var(--neuzeitGrotesk);
    font-size: 1.3rem;
    color: var(--charcoal);
    line-height: 1.4;
    margin: 1rem 1.5rem;
}
.work h2 {
    font-family: var(--octinCollege);
    font-size: 2.3rem;
    color: var(--charcoal);
    margin: 1rem 1.5rem;
}
.work p {
    font-family: var(--neuzeitGrotesk);
    font-size: 1.3rem;
    margin: 1rem 1.5rem;
    line-height: 1.4;
}
.project-container .site-link {
    width: 180px;
    height: 60px;
    background-color: var(--sunglow);
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: var(--neuzeitGrotesk);
    font-size: 1.5rem;
    color: var(--charcoal);
    margin: 1rem 1.5rem;
    transition: all 0.2s ease-in;
}
.site-link:hover {
    cursor: pointer;
    background-color: #ffbf13;
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.3);
}
.project-container {
    display: flex;
    flex-direction: column;
}
.project-container img {
    align-self: center;
    justify-self: center;
}
footer {
    width: 100%;
    background: linear-gradient(90deg, var(--orangeRedCrayola), var(--sunglow), var(--orangeRedCrayola));
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    padding-right: 1rem;
}
footer svg {
    width: 64px;
    height: 64px;
    fill: var(--alabaster);
}
footer svg:hover {
    cursor: pointer;
    fill: #fbfcfb;
}
/* TABLET MEDIA QUERY */
@media screen and (min-width: 810px) {
    .hero {
        width: 100%;
        height: 70vh;
    }
    .hero h1 {
        font-size: 7.5rem;
    }
    .hero p {
        font-size: 4rem;
    }
    .about {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        margin: 2rem 1rem;
    }
    .about img {
        box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.3);
        border-radius: 3px;
    }
    .about p {
        font-size: 1.4rem;
        align-self: center;
    }
    .project-container {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        margin: 3.1rem 0;
    }
    .project-container img {
        box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.3);
        border-radius: 3px;
    }
    .project-container h2 {
        font-size: 3.6rem;
    }
    .project-container p {
        font-size: 1.8rem;
    }.project-container .site-link {
        width: 260px;
    }
    .project-container .project-info {
        align-self: center;
    }
    .project-container .project-one img{
        grid-column: 2 / 3;
        grid-row: 1;
    }
    .project-container.project-one .project-info {
        grid-column: 1 / 2;
        grid-row: 1;
    }
    .project-container .project-three img{
        grid-column: 2 / 3;
        grid-row: 1;
    }
    .project-container.project-three .project-info {
        grid-column: 1 / 2;
        grid-row: 1;
    }
}
/* DESKTOP MEDIA QUERY */
@media screen and (min-width: 1400px) {
    .hero{
        width: 100%;
        height: 100vh;
    }
    .hero h1 {
        font-size: 10rem;
    }
    .hero p {
        font-size: 7.5rem;
    }
    .about p {
        font-size: 2rem;
        align-self: center;
    }
    .project-one img, .project-three img{
     justify-self: end;
     width: 650px;
     height: 650px;
     margin-right: 1rem;
    }
    .project-container h2 {
        font-size: 6rem;
    }
    .project-container p {
        font-size: 2.3rem;
    }
    .project-container .site-link {
        width: 260px;
        height: 80px;
    }
    .project-two {
        margin: 2.5rem 0;
    }
    .project-two img {
        margin-left: 1rem;
        justify-self: start;
        width: 650px;
        height: 650px;
    }
}