footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-left: clamp(1rem, 12.77vw - 1.493rem, 10rem);
  padding-right: clamp(1rem, 12.77vw - 1.493rem, 10rem);
  margin-bottom: 1rem;
  div {
    display: flex;
    gap: 1rem;
    a {
      position: relative;
      display: inline-block;
      &::after {
        content: "";
        position: absolute;
        width: 100%;
        transform: scaleX(0);
        height: 2px;
        bottom: 0;
        left: 0;
        background-color: #3d3d3d;
        transform-origin: bottom left;
        transition: all 0.35s ease;
      }
      &:hover {
        color: #141414;
        &::after {
          transform: scaleX(1);
        }
      }
    }
  }
}
