h1 {
  font-family: "Spectral", serif;
  font-size: clamp(2rem, 1.2958rem + 3.0047vw, 4rem);
  font-weight: 800;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  color: #f3efe0;
}
h2 {
  font-family: "Spectral", serif;
  font-size: clamp(1rem, 0.9718rem + 2.2535vw, 2.5rem);
  letter-spacing: 0.3px;
  text-transform: uppercase;
  color: #f3efe0;
}
p {
  font-family: "JetBrains Mono", monospace;
  font-family: 400;
  color: #f3efe0;
}
a {
  text-decoration: none;
  color: #3d3d3d;
  font-family: "JetBrains Mono", monospace;
  font-size: 0.875rem;
  text-transform: uppercase;
}
span {
  font-family: "JetBrains Mono", monospace;
  font-size: 0.875rem;
  font-weight: 700;
  color: #3d3d3d;
}
