@import 'variables';
@import 'hero';
@import 'work';

.site__wrapper {
    display: flex;
    flex-direction: column;
    margin: 0 50px;
}
.slidInFull {
    opacity: 1;
    transform: translateX(0);
  }
@media (max-width: 500px) {
    .site__wrapper {
        margin: 0 20px;
    }
}